* {
    font-family: fantasy;
}
a:hover {
    font-size: 30px;
    text-decoration: black;
}
.mlpg {
    background-color: dodgerblue;
    font-size: 3px;
}
h1{
    text-align: center;
}
.c1 {
    color: #107772;
    font-size: 30px;
    padding: 0%;
}
.high {
    font-size: 40px;
    color: #107772 ; 
}
.high2 {
    font-size: 40px;
    color: chocolate;
}
.c2 {
    color: #107772 ;
    font-size: 30px;
    padding: 0%;
}
.c3 {
    font-size: 30px;
}
.p1 {
    font-size: 20px;
}
.c4 {
    font-size: 18px;
    background-color: pink;
}
.highlight {
    background-color: palegoldenrod;
}
.size {
   padding: 0 30px 0 30px ; 
   
}
.align {
    text-align: center;
}
.size2 {
    padding: 0 30px 0 30px;  
 }
 .c5 {
    text-decoration: black;
 }
 .c6 {
     font-size: 30px;
     background-color: white;
 }
 .flexfroggy {
     display: flex;
     justify-content: flex-end;
     flex-wrap: wrap;
 }
 #id1 {
     font-size: 20px;   
 }
.flexfroggy3 {
    display: flex;
    align-content: flex-end;
    font-size: 20px;
}
#flexfroggy4 {
    display: flex;
    justify-content: flex-end;
}
.flexfroggy5 {
    border: darkorchid 6px solid;
    
}
.border {
    border: crimson 5px solid;
}
.flex1 {
    display: flex;
    flex-direction: row;
}