* {
    font-family: Garamond, serif;
}
a:hover {
    font-size: 30px;
    text-decoration: black;
}
.mlpg {
    font-size: 5px;
}
h1{
    text-align: center;
}
.c1 {
    color: #107772;
    font-size: 30px;
    font-weight: bold;
    padding: 30px 25px 30px 25px;
}
.high {
    font-size: 40px;
    color: #236B8E; 
}
.high2 {
    font-size: 40px;
    font-family: Garamond, serif;
    color: chocolate;
    font-weight: bold;
}
.c3 {
    font-size: 25px;
}
.p1 {
    font-size: 20px;
}
.p2 {
    font-size: 20px;
    padding: 0px 25px 0px 25px;
}
.p3 {
    font-size: 20px;
    padding: 5px 25px 0px 25px;
}
.c4 {
    font-size: 18px;
    color: blue;
}
.highlight {
    background-color: palegoldenrod;
}
.size {
   padding: 0 30px 0 30px ; 
   
}
.align {
    text-align: center;
}
.size2 {
    padding: 0 30px 0 30px;  
 }
 .c5 {
    text-decoration: black;
 }
 .c6 {
     font-size: 31.6px;
     background-color: white;
 }
 .flexfroggy {
     display: flex;
     justify-content: flex-end;
     flex-wrap: wrap;
 }
 #id1 {
     font-size: 20px;   
 }
.flexfroggy3 {
    display: flex;
    align-content: flex-end;
    font-size: 20px;
}
#flexfroggy4 {
    display: flex;
    justify-content: space-around;
}
.flexfroggy5 {
    border: #8B4513 7px double;
    
}
.border {
    border: #FC9900 8px dashed;
}
.flex1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.flex2 {
    display: flex;
    justify-content: space-around;
}
.flex3 {
    display: flex;
    justify-content: space-around;
}
.flex4 {
    display: flex;
    justify-content: center;
}
.border1 {
    border: #9400D3 7px dotted;
}
.border2 {
    border: #EE82EE 7px dotted;
}
.border3 {
    color: blue;
}

#cont {display: none;}
    .show:focus + .hide {display: inline; }
    .show:focus + .hide + #cont {display: block;}






